body {
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url(jigsaw.png);
}

h1, h2, h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

#container {
    display: flex;
    justify-content: center;
    gap: 10vw;
   body
}

.title {
    padding-top: 5vh;
}
#score {
    gap: 10 vw;
    margin-top: 10vh;
    

}

h2 {
    font-size: 30px;
}

.comment {
padding-top: 5vh;
color:fuchsia
}

.reset {
    display: flex;
    justify-content: center;
   margin: auto;
}

.reset > #reset {
    width: 20%;
    color: orange;
    font-size: 22px;
    border-radius: 30%;
}

.lose, .win {
    padding-top: 10vh;
    color: blue;
}

#one, #two, #three {
    width: 35vw;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
   
 
}

#scissors {
    background-image: url("scissors.png");
    background-size:cover;
    width: 80%;
    height: 70%;
    font-size: 5vw;
    border-radius: 50%;
    color: blue;
}
#rock {
    background-image: url("rock.png");
    background-size: cover;
    width: 80%;
    height: 70%;
    font-size: 5vw;
    border-radius: 50%;
    color: yellow;
}

#paper {
    background-image: url("paper.png");
    background-size: cover;
    width: 80%;
    height: 70%;
    font-size: 5vw;
    border-radius: 50%;
    color: black;

}
/* span classes*/
.lower {
    background-color: black;
    color: yellow;
}
.head {
    background-color: black;
    color: fuchsia;
}